# REQUIRED MODULE SETTINGS

MODULE_NAME=Milesight Decoder
MODULE_TYPE=Processing

# REQUIRED API SETTINGS

INGRESS_HOST=0.0.0.0
INGRESS_PORT=80
EGRESS_URLS=https://testdockercompose.free.beeceptor.com

# YOU CAN ADD REMAINING MODULE SETTINGS BELOW
DEVICE_DECODER=